.AgentRoles{
    display: flex;
    align-items: center;
    gap:.5rem;

    padding:0 0 1rem;
}
.AgentRoles img{
    width:1.75rem;
}
.AgentRoles span{
    font-size: 125%;
    font-weight: bolder;
    letter-spacing: 5px;
}
@media(max-width:431px){
    .AgentRoles span{
        font-size: 1.25em;
        letter-spacing: 2px;
    }
    .AgentRoles img{
        width:1.75rem;
    }
}